.header{
    grid-area: h;
    background-color: rgb(29, 214, 12);
    padding-bottom: 10px;
    display: flex;
justify-content: space-between;
  }
  .header img{
    width: 100px;
   
  }
.loginBlock{
    color:antiquewhite;
  display: flex;
  }
  .user>a>img{
 width: 50px;
 border-radius: 50%;
  }
